
.upopup {
    position: absolute;
    overflow: visible;
    padding: 0;
}
.upopup .upopup-adjust {
    height: 2em;
    width: 2em;
    visibility: hidden;
    background: transparent;
}

.upopup .upopup-largest {
    font-size: 2em;
}
.upopup .upopup-larger {
    font-size: 1.5em;
}
.upopup .upopup-large {
    font-size: 1.25em;
}
.upopup .upopup-normal {
    font-size: 1em;
}
.upopup .upopup-small {
    font-size: 0.8em;
}
.upopup .upopup-smaller {
    font-size: 0.6em;
}
.upopup .upopup-smallest {
    font-size: 0.35em;
}
.upopup .upopup-square .upopup-border,
.upopup .upopup-square .upopup-border .upopup-inner {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}
.upopup .upopup-center .upopup-adjust {
    height: 0;
    width: 0;
}
.upopup .upopup-arrow {
    height: 0;
    width: 0;
    position: absolute;
    border: 1.135em solid transparent;
    background-color: transparent;
}
.upopup .upopup-last-arrow {
    border-color: #f5f5f5;
}
.upopup .upopup-border {
    border: solid 0.125em #999;
    border-radius: 0.85em;
    -moz-border-radius: 0.85em;
    -webkit-border-radius: 0.85em;
    background-color: #999;
}
.upopup .upopup-inner {
    border: solid 0.15em #f5f5f5;
    border-radius: 0.85em;
    -moz-border-radius: 0.85em;
    -webkit-border-radius: 0.85em;
    background-color: #f5f5f5;
    padding: 1em;
}
.upopup .upopup-square .upopup-inner {
    border: 0;
}
.upopup .no-padding .upopup-inner {
    padding: 0;
}
.upopup .upopup-arrow {
    position: absolute;
}
.upopup .upopup-border,
.upopup .upopup-border,
.upopup .upopup-border,
.upopup .upopup-border,
.upopup .upopup-border,
.upopup .upopup-border {
    box-shadow: 0.15em 0.15em 0.35em #555;
    -webkit-box-shadow: 0.15em 0.15em 0.35em #555;
    -moz-box-shadow: 0.15em 0.15em 0.35em #555;
}
.upopup .upopup-n .upopup-arrow,
.upopup .upopup-nw .upopup-arrow,
.upopup .upopup-ne .upopup-arrow,
.upopup .upopup-above .upopup-arrow {
    border-top-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
}
.upopup .upopup-s .upopup-arrow,
.upopup .upopup-sw .upopup-arrow,
.upopup .upopup-se .upopup-arrow,
.upopup .upopup-below .upopup-arrow {
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
}
.upopup .upopup-e .upopup-arrow,
.upopup .upopup-ese .upopup-arrow,
.upopup .upopup-ene .upopup-arrow,
.upopup .upopup-right .upopup-arrow {
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    border-right-color: transparent !important;
}
.upopup .upopup-w .upopup-arrow,
.upopup .upopup-wnw .upopup-arrow,
.upopup .upopup-wsw .upopup-arrow,
.upopup .upopup-left .upopup-arrow {
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
}

.upopup .upopup-first-arrow {
    border-color: #999;
}
.upopup .upopup-last-arrow {
    border-color: #f5f5f5;
}

.upopup .upopup-n .upopup-first-arrow,
.upopup .upopup-nw .upopup-first-arrow {
    top: -2.2em;
    left: 2em;
}
.upopup .upopup-n .upopup-last-arrow,
.upopup .upopup-nw .upopup-last-arrow {
    top: -2em;
    left: 2em;
}
.upopup .upopup-e .upopup-first-arrow,
.upopup .upopup-ene .upopup-first-arrow {
    right: -2.2em;
    top: 2em;
}
.upopup .upopup-e .upopup-last-arrow,
.upopup .upopup-ene .upopup-last-arrow {
    right: -2em;
    top: 2em;
}
.upopup .upopup-ne .upopup-first-arrow {
    right: 2em;
    top: -2.2em;
}
.upopup .upopup-ne .upopup-last-arrow {
    right: 2em;
    top: -2em;
}
.upopup .upopup-wsw .upopup-first-arrow,
.upopup .upopup-ese .upopup-first-arrow {
    bottom: 2.25em;
}
.upopup .upopup-wsw .upopup-first-arrow {
    left: -2.2em;
    bottom: 2em;
}
.upopup .upopup-wsw .upopup-last-arrow {
    left: -2em;
    bottom: 2em;
}
.upopup .upopup-ese .upopup-first-arrow {
    right: -2.2em;
    bottom: 2em;
}
.upopup .upopup-ese .upopup-last-arrow {
    right: -2em;
    bottom: 2em;
}
.upopup .upopup-s .upopup-first-arrow,
.upopup .upopup-sw .upopup-first-arrow {
    bottom: -2.2em;
    left: 2em;
}
.upopup .upopup-s .upopup-last-arrow,
.upopup .upopup-sw .upopup-last-arrow {
    bottom: -2em;
    left: 2em;
}
.upopup .upopup-se .upopup-first-arrow {
    right: 2em;
    bottom: -2.2em;
}
.upopup .upopup-se .upopup-last-arrow {
    right: 2em;
    bottom: -2em;
}
.upopup .upopup-w .upopup-first-arrow,
.upopup .upopup-wnw .upopup-first-arrow {
    top: 2em;
    left: -2.2em;
}
.upopup .upopup-w .upopup-last-arrow,
.upopup .upopup-wnw .upopup-last-arrow {
    top: 2em;
    left: -2em;
}
.upopup .upopup-w .upopup-last-arrow,
.upopup .upopup-wnw .upopup-last-arrow {
    top: 2em;
    left: -2em;
}
.upopup .upopup-above .upopup-first-arrow {
    left: 50%;
    top: -2.2em;
    margin: 0 0 0 -1.2em;
}
.upopup .upopup-above .upopup-last-arrow {
    left: 50%;
    top: -2em;
    margin: 0 0 0 -1.2em;
}
.upopup .upopup-below .upopup-first-arrow {
    left: 50%;
    bottom: -2.2em;
    margin: 0 0 0 -1.2em;
}
.upopup .upopup-below .upopup-last-arrow {
    left: 50%;
    bottom: -2em;
    margin: 0 0 0 -1.2em;
}
.upopup .upopup-left .upopup-first-arrow {
    left: -2.2em;
    top: 50%;
    margin: -1.2em 0 0 0;
}
.upopup .upopup-left .upopup-last-arrow {
    left: -2em;
    top: 50%;
    margin: -1.2em 0 0 0;
}
.upopup .upopup-right .upopup-first-arrow {
    right: -2.2em;
    top: 50%;
    margin: -1.2em 0 0 0;
}
.upopup .upopup-right .upopup-last-arrow {
    right: -2em;
    top: 50%;
    margin: -1.2em 0 0 0;
}
.upopup-clear {
    clear: both;
}


.upopup .black .upopup-arrow {
    border-color: #101010;
}
.upopup .black .upopup-last-arrow {
    border-color: #505050;
}
.upopup .black .upopup-border {
    border-color: #101010;
    background-color: #101010;
}
.upopup .black .upopup-border .upopup-inner {
    background-color: #505050;
    border-color: #505050;
}


.upopup .yellow .upopup-arrow {
    border-color: #f9e98e;
}
.upopup .yellow .upopup-last-arrow {
    border-color: #fbf7aa;
}
.upopup .yellow .upopup-border {
    border-color: #f9e98e;
    background-color: #f9e98e;
}
.upopup .yellow .upopup-border .upopup-inner {
    background-color: #fbf7aa;
    border-color: #fbf7aa;
}

.upopup .blue .upopup-arrow {
    border-color: #add9ed;
}
.upopup .blue .upopup-last-arrow {
    border-color: #e5f6fe;
}
.upopup .blue .upopup-border {
    border-color: #add9ed;
    background-color: #add9ed;
}
.upopup .blue .upopup-border .upopup-inner {
    background-color: #e5f6fe;
    border-color: #e5f6fe;
}

.upopup .red .upopup-arrow {
    border-color: #ce6f6f;
}
.upopup .red .upopup-last-arrow {
    border-color: #f79992;
}
.upopup .red .upopup-border {
    border-color: #ce6f6f;
    background-color: #ce6f6f;
}
.upopup .red .upopup-border .upopup-inner {
    background-color: #f79992;
    border-color: #f79992;
}

.upopup .green .upopup-arrow {
    border-color: #a9db66;
}
.upopup .green .upopup-last-arrow {
    border-color: #cde6ac;
}
.upopup .green .upopup-border {
    border-color: #a9db66;
    background-color: #a9db66;
}
.upopup .green .upopup-border .upopup-inner {
    background-color: #cde6ac;
    border-color: #cde6ac;
}

.upopup .purple .upopup-arrow {
    border-color: #9bb6fe;
}
.upopup .purple .upopup-last-arrow {
    border-color: #b6caff;
}
.upopup .purple .upopup-border {
    border-color: #9bb6fe;
    background-color: #9bb6fe;
}
.upopup .purple .upopup-border .upopup-inner {
    background-color: #b6caff;
    border-color: #b6caff;
}

.upopup .orange .upopup-arrow {
    border-color: #db9742;
}
.upopup .orange .upopup-last-arrow {
    border-color: #f8b762;
}
.upopup .orange .upopup-border {
    border-color: #db9742;
    background-color: #db9742;
}
.upopup .orange .upopup-border .upopup-inner {
    background-color: #f8b762;
    border-color: #f8b762;
}

.upopup .white .upopup-arrow {
    border-color: #888;
}
.upopup .white .upopup-last-arrow {
    border-color: #fff;
}
.upopup .white .upopup-border {
    border-color: #888;
    background-color: #888;
}
.upopup .white .upopup-border .upopup-inner {
    background-color: #fff;
    border-color: #fff;
}



