
.umenu {
    max-width: 20em;
    font-size: 1.1em;
}

.umenu .item {
    padding: 0.75em 1.75em 0.75em 0.75em;
    border-bottom: solid 1px #ccc;
}

.umenu .item:last-child {
    border-bottom: none;
}

.upopup .umenu .item .arrow {
    right: -0.5em;
    position: absolute;
    margin: 0.25em 1em 0 0;
    border: 0.4em solid #444 !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    border-right-color: transparent !important;
}

