
.umenu {
    display: none;
    max-width: 20em;
}

.upopup .umenu, .popover .umenu {
    display: block;
}

.umenu .umenu-inner,
.udrag-wrapper .umenu-inner,
.upopup .inner .umenu .umenu-inner {
    padding: 0.75em 1.5em 0.75em 0.75em;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-bottom: solid 1px #ccc;
}

.umenu-left .umenu-item .umenu-inner,
.upopup .inner .umenu-left .umenu-item .umenu-inner {
    padding: 0.75em 0.75em 0.75em 1.5em;
}

.udrag-wrapper .umenu-item .umenu-inner {
    border-color: transparent;
}

.umenu-small,
.udrag-wrapper .umenu-small {
    font-size: 0.75em;
}

.umenu .umenu-item:last-child {
    border-bottom-right-radius: 0.85em;
    -moz-border-bottom-right-radius: 0.85em;
    -webkit-border-bottom-right-radius: 0.85em;
    border-bottom-left-radius: 0.85em;
    -moz-border-bottom-left-radius: 0.85em;
    -webkit-border-bottom-left-radius: 0.85em;
}

.umenu .umenu-item:first-child {
    border-top-right-radius: 0.85em;
    -moz-border-top-right-radius: 0.85em;
    -webkit-border-top-right-radius: 0.85em;
    border-top-left-radius: 0.85em;
    -moz-border-top-left-radius: 0.85em;
    -webkit-border-top-left-radius: 0.85em;
}

.udrag-wrapper .umenu-selected {
    border-radius: 0.45em;
    -moz-border-radius: 0.45em;
    -webkit-border-radius: 0.45em;
    border-color: transparent;
}

.umenu .umenu-item:last-child .umenu-inner,
.popover .inner .umenu .umenu-item:last-child .umenu-inner,
.upopup .inner .umenu .umenu-item:last-child .umenu-inner {
    border-bottom: none;
}

.umenu .umenu-item .umenu-arrow,
.udrag-wrapper .umenu-item .umenuarrow {
    right: -0.5em;
    position: absolute;
    margin: 1em 1em 0 0;
    border: 0.4em solid #444 !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    border-right-color: transparent !important;
}

.umenu-left .umenu-item .umenu-arrow {
    left: 0.5em;
    position: absolute;
    margin: 1em 1em 0 0;
    border: 0.4em solid #444 !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
}

.upopup .inner .umenu .umenu-item .umenu-inner {
    background-color: transparent;
}

.umenu .umenu-selected,
.udrag-wrapper .umenu-selected {
    color: #fff;
    background-image: -moz-linear-gradient(top, #586068, #50535c);
    background-image: -ms-linear-gradient(top, #586068, #50535c);
    background-image: -webkit-linear-gradient(top, #586068, #50535c);
    background-image: -o-linear-gradient(top, #586068, #50535c);
    background-image: linear-gradient(top, #586068, #50535c);
    background-image: -webkit-gradient(
        linear, left top, left bottom,
        color-stop(0%, #586068), color-stop(100%, #50535c)
    );
    background-image: -khtml-gradient(
        linear, left top, left bottom, from(#586068), to(#50535c)
    );
}

.umenu .umenu-selected .umenu-arrow,
.udrag-wrapper .umenu-selected .umenu-arrow {
    border-left-color: #fff !important;
}

.upopup .umenu-left .umenu-selected .umenu-arrow {
    border-right-color: #fff !important;
    border-left-color: transparent !important;
}

